name: Deploy Backend to Render

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  deploy-to-render:
    name: Deploy to Render
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log Webhook URL
        run: |
          echo "Webhook URL is: $RENDER_DEPLOY_WEBHOOK_URL"

      - name: Deploy to Render via Webhook
        env:
          RENDER_DEPLOY_WEBHOOK_URL: ${{ secrets.RENDER_DEPLOY_WEBHOOK_URL }}
        run: |
          curl -X GET "$RENDER_DEPLOY_WEBHOOK_URL"